/* general */
body{
  background-color: pink;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.body{
  padding: 18px;
  background-color: cornflowerblue;
}
.jumbo{
  background-color: aliceblue;
  padding: 10px;
  margin-bottom: 20px;
}
.jumbo h2{
  font-size: 40px;
}
.product-tile{
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}
.product-tile:hover{
  transform: scale(1.01)
}
.product-tile input{
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}
.product-tile button {
  cursor: pointer;
}
.product-tile h3{
  font-size: 26px;
}
.product-tile div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}
.cart-total{
  display: flex;
  font-size: 30px;
  justify-content: space-between;
}