<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>Web-shop</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "checkout" class="menu-checkout"}}
        Checkout
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
