<div class="cart">
  <div class="jumbo">
  <div class="right tomster"></div>
  {{#link-to "shop" class="button"}}
    Back to shop
  {{/link-to}}
  <h2>This is your cart</h2>
  <MyCart/>
</div>
</div>