<div class="jumbo">
  <div class="right tomster"></div>
  {{#link-to "shop" class="button"}}
    Back to shop
  {{/link-to}}
  <h2>This is your cart</h2>
  <p>
    Here you buy the items you choosed
  </p>
</div>