<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Available items</h2>
  <p>
    Here you see the available items holaaa
  </p>
</div>
{{#each this.model as |productUnit|}}
  <ProductListing @product={{productUnit}} />
{{/each}}