<div class="jumbo">
  <CartAmount/>
  <h2>Available items</h2>
  <p>
    These are our premium items
  </p>
  <div class="all-products">
    {{#each this.model as |productUnit|}}
      <ProductTile @product={{productUnit}} />
    {{/each}}
  </div>
</div>